/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Roboto Semi Bold */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-SemiBold.woff2') format('woff2');
    font-weight: 600; /* Semi Bold */
    font-style: normal;
}

/* Roboto Bold */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold */
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* Semi-bold */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ae-nav-section {
    width: 100%;
    border-top: 6px solid #fff;
    z-index: 1000;
}

.ae-container-nav {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.ae-nav-class {
    display: flex;
    align-items: center;
}

.ae-navbar-widget {
    width: calc(95% - 300px);
    height: 52px;
    position: relative;
}

.ae-navbar-widget::before, .ae-navbar-widget::after {
    content: '';
    position: absolute;
    top: -2px;
    height: 20px;
    width: 32px;
    background: radial-gradient(circle, transparent 60%, #fff 0%) center no-repeat;
    background-position: -11px -7px;
    background-size: 90px 90px;
}

.ae-navbar-widget::before {
    left: -32px;
    transform: rotate(58deg);
} 

.ae-navbar-widget::after {
    right: -64px;
    transform: rotate(9deg);
}

.ae-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 8px;
}

.ae-navbar::before {
    content: '';
    position: absolute;
    top: -46px;
    width: 100%;
    height: calc(100% + 100px);
    background-color: #fff;
    border-radius: 0 0 20px 20px / 0 0 30px 30px;
    transform: perspective(600px) rotateX(-65deg);
    z-index: -1;
}

.ae-navbar li {
    list-style: none;
}

.ae-navbar li a {
    text-decoration: none;
    color: #222831;
    padding: 8px 16px;
}

.ae-navbar li a:hover {
    color: #A6FF00;
}

.ae-nav-section .ae-container-nav ul .ae-separator {
    cursor: default;
    color: #222831;
}

.ae-nav-section .ae-container-nav ul .ae-signin-btn {
    border: 2px solid #A6FF00 !important;
    border-radius: 20px;
    padding: 5px 8px;
    margin-left: 16px;
    margin-right: 5px;
}

.ae-nav-section .ae-container-nav ul .ae-signin-btn a {
    color: #222831;
    transition: color 0.3s ease;
}

.ae-nav-section .ae-container-nav ul .ae-signin-btn a:hover {
    color: #A6FF00;
}

.ae-nav-section .ae-container-nav ul .ae-signup-btn {
    border: 2px solid #A6FF00 !important;
    border-radius: 20px;
    padding: 5px 8px;
    background-color: #A6FF00;
    margin-left: 5px;
}

.ae-nav-section .ae-container-nav ul .ae-signup-btn a {
    color: #222831;
    transition: color 0.3s ease;
}

.ae-nav-section .ae-container-nav ul .ae-signup-btn a:hover {
    color: #fff;
}