/* Main Styles */
@font-face {/* Poppins Regular */
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {/* Roboto Semi Bold */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-SemiBold.woff2') format('woff2');
    font-weight: 600; /* Semi Bold */
    font-style: normal;
}

@font-face {/* Roboto Bold */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: linear-gradient(#222831, #F7F7F7);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold */
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* Semi-bold */
}

/*Page's CSS Starts from here */
.summary span{
    font-weight: 600;
    font-size: 1.2rem;
}
.paypal span{
    font-weight: 600;
}
.card {
    border-radius: 15px !important; 
    overflow: hidden !important; 
    border: none !important;
    box-shadow: none !important;
}

.card-header button {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
}
.container {
    width: 30%;
    overflow: hidden;
  }
.textarea h2{
    font-family:cursive,'Lucida Handwriting';
    font-size: 50px;
    font-weight: 600;
    color:#A6FF00 ;
    text-align: center;
}
.textarea p{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;  
    text-align: center;
}