/* Main Styles */
@font-face {/* Poppins Regular */
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {/* Roboto Semi Bold */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-SemiBold.woff2') format('woff2');
    font-weight: 600; /* Semi Bold */
    font-style: normal;
}

@font-face {/* Roboto Bold */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/*============ VARIABLES CSS ============*/
:root {
  /* Colours */
    --first-color: #A6FF00;
    --first-color-light: #caea8e;
    --first-color-alt: #699d08;
    --dark-color: #222831;
    --white-color: #FFFFFF;
    --danger: #FF4500;
    --container-color: #393E46;
    --text-color: #6B7280;

  /* Font and typography */
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: linear-gradient(#222831, #F7F7F7);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold */
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* Semi-bold */
}

/*Page's CSS Starts from here */
.firstH1 {
	color: var(--first-color);
}

.normalBtn {
	background-color: var(--first-color) !important;
	border-color: var(--first-color) !important;
	color: #393E46 !important;
	font-weight: 600 !important;
    transition: color 0.3s ease;
}

.normalBtn:hover {
    background-color: #FFFFFF !important;
	border-color: #FFFFFF !important;
    text-decoration: none;
}

/* Search and Add Product Section Styles */
.search-input-group {
    width: 450px;
    max-width: 100%;
}

.search-btn {
    white-space: nowrap;
    padding: 0.375rem 1rem;
}

.add-btn {
    white-space: nowrap;
    padding: 0.375rem 1rem;
    width: auto;
}

#searchInput:focus {
	background: transparent;
	border-color: var(--first-color) !important;
    box-shadow: 0 0 0 1px var(--first-color) !important;
}

#searchInput:focus + .search-btn {
	border-color: var(--first-color) !important;
    box-shadow: 0 0 0 1px var(--first-color) !important;
}

/*=============== CARD ===============*/
.cc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container {
  padding-block: 3rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: left;
  position: relative;
  z-index: 10;
}

.card__img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  transition: all 500ms ease-in-out;
}

.card__article:hover .card__img {
	transform: scale(1.1);
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  color: var(--white-color);
  opacity: 70%;
}

.card__price {
  font-weight: 500;
  color: var(--white-color);
}

.card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: .25rem 1rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
  text-decoration: none;
  opacity: 0;
  transform: translateX(150px);
  transition: all 500ms ease-in-out;
}

.card__article:hover .card__button {
  transform: translateX(0px);
  opacity: 1;
}

.card__button_edit, .card__button_delete {
  display: inline-block;
  background-color: var(--first-color);
  padding: .25rem 1rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.card__button_edit:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.card__button_delete:hover {
  background-color: var(--danger);
  color: var(--white-color);
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--first-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: var(--text-color);
  opacity: 1;
  transform: translateY(0px);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*=============== BREAKPOINTS ===============*/
/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .col-12.d-flex {
        flex-direction: column;
    }
    
    .search-input-group {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .add-btn {
        width: 100%;
    }
    
    .card__button {
    	transform: translateX(0px);
  		opacity: 1;
    }
}


/*=============== Card carousel ===============*/
/* For small devices */
@media screen and (max-width: 480px) {
  .card__data {
    padding: 1rem;
  }
}
/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}
/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}